<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de forma de pagamento</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            flex-direction: column;
            padding: 20px;
            justify-content: start;
            align-items: center;
            min-height: 100vh;
            background-color: #0c0c0c;
            padding-top: 60px;
            color: white;
        }
        .container {
            background: rgb(51, 51, 51);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 500px;
            width: 100%;
        }
        nav {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #333;
            padding: 10px;
            text-align: center;
            color: white;
        }
        h2 {
            text-align: center;
            color: white;
        }
        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }
        input, select, button {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #222;
            color: white;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
        }
        button:hover {
            background-color: #555;
        }
        @media (max-width: 600px) {
            .container {
                padding: 15px;
            }
        }
        h1{
            text-align: center;
        }
    </style>
    <script>
        function mostrarParcelas() {
            var idTipo = document.getElementById('idTipo').value;
            var parcelasDiv = document.getElementById('parcelasDiv');
            if (idTipo === '3') {
                parcelasDiv.style.display = 'block'; // Exibe o campo de parcelas
            } else {
                parcelasDiv.style.display = 'none'; // Oculta o campo de parcelas
            }
        }
    </script>
</head>
<body>
    <%- include('../../public/menu.html') %>
    <h1>Cadastro de forma de pagamento</h1>

    <form action="/usuario/cadastro_forma" method="POST">
        <label for="descrForma">Nome da Forma:</label>
        <input type="text" id="descrForma" name="descrForma" placeholder="Nome da forma de pagamento" required><br><br>

        <label for="idTipo">Tipo de Recebimento:</label>
        <select select id="idTipo" name="idTipo" onchange="mostrarParcelas()" required>
            <% for (let i = 0; i< recebimento.length; i++){ %>
                <option value="<%= recebimento[i].id_tipo_recebimento %>"><%= recebimento[i].descr_tipo_recebimento %></option>    
            <% }  %>   
        </select>

        <div id="parcelasDiv" style="display:none;">
            <label for="parcelas">Quantidade de Parcelas:</label>
            <select id="parcelas" name="parcelas">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select><br><br>
        </div>

        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
