<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MGSC - Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        h1 {
            background-color: #333;
            color: white;
            padding: 20px;
            margin: 0;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            flex-wrap: wrap;
            padding: 20px;
        }
        .button-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            max-width: 600px;
        }
        button {
            background-color: #222;
            color: white;
            border: none;
            padding: 15px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.3s;
            width: 200px; /* Tamanho fixo */
            height: 50px; /* Altura fixa opcional */
            text-align: center;
        }

        table {
            table-layout: fixed;
            width: 100%;
        }
        button:hover {
            background-color: #555;
        }
        .button-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 15px; /* Espaçamento entre os botões */
            justify-content: center;
            align-items: center;
            max-width: 600px;
}
    </style>
</head>
<body>
    <%- include('../../public/menu.html') %>
    <h1>Metaltech Games - System Controller</h1>
    <div class="container">
        <table>
            <tr>
                <td><button onclick="location.href='/'">Cadastrar Venda</button></td>
                <td><button onclick="location.href='../cliente/abre_cadastro_cliente'">Cadastrar Cliente</button></td>
                <td><button onclick="location.href='../usuario/abre_cadastro_produto'">Cadastrar Produto</button></td>
            </tr>
            <tr>
                <td><button onclick="location.href='/'">Cadastrar Promoção</button></td>
                <td><button onclick="location.href='../admin/listar_cliente'">Editar Cliente</button></td>
                <td><button onclick="location.href='../admin/editar_produto'">Editar Produto</button></td>
            </tr>
        </table>
    </div>
</body>
</html>