<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MGSC - Home</title>
    <link rel="stylesheet" href="/app/public/src/css/style.css">
</head>
<body>
    <%- include('../../public/menu.html') %>
    <h1>Metaltech Games - System Controller</h1>
</body>
</html>